.poke-header h1 { 
  color: #6523b6;
  font-size: 3rem;
  padding-top: 1rem;
  max-width: 525px;
  font-weight: 700;
  font-family: 'Exo 2',sans-serif;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 3px 3px 3px black;
}

.poke-header p {
  color: rgb(23 67 125);
  font-size: 1.5rem;
  font-style: italic;
}

.poke-header {
  display: flex;
  color: #19072d;
  justify-content: center;
  align-content: center;
  position: relative;
  flex-direction: column;
  padding: 0 1rem;
}

.poke-header .pokemon-logo {
  max-width: 50%;
  align-self: end;
  padding: 1rem;
}

@media(min-width: 777px) {
  .poke-header {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
  }
  .poke-header .pokemon-logo {
    order: 1;
    margin-left: auto;
  }
  .pikachu {
    max-width: 50%;
    margin-left: auto;
    order: 3;
  }
  .poke-header p {
    max-width: 525px;
    order: 2;
    font-weight: bold;
  }
  .poke-header h1 {
    font-size: 4.25rem;
    order: 0;
  }
}

@media(min-width: 1100px) {
  .poke-header h1 {
    font-size: 5.5rem;
    max-width: fit-content;
  }
  .poke-header .pokemon-logo {
    max-width: 100%;
  }
  .poke-header {
    padding: 0 2rem;
  }
}